body {
    margin: 0;
}

.top-bar {
    background-color: #4267B2;
    width: 100%;
    height: 60px;
    margin-left: 0px;
    display: flex;
    justify-content: flex-end;
}

.top-bar span {
    align-self: flex-end;
    margin-bottom: 5px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
}

.top-bar span:hover {
    text-decoration: underline;
}

.second-bar {
    margin-bottom: 30px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.second-bar h1 {
    margin-left: 20px;
    color: #2a4f9a;
    font-size: 2em;
    font-family: 'Fugaz One', cursive;
    align-self: center;
}

.second-bar img {
    margin-right: 5%;
    width: 28px;
    height: 25px;
    align-self: center;
    cursor: pointer;
}

.navbar {
    width: 50%;
    max-width: 500px;
}

.navbar ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.navbar li {
    margin-left: 0;
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.nav-button:hover {
    color: #2a4f9a;
    text-decoration: underline;
}

.home-container {
    margin: 0 auto;
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-container img {
    height: 90%;
    margin: 2%;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-container div {
    margin-left: 30px;
    width: 500px;
    text-align: center;
}

.home-container p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6em;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

.bikes-container {
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: none;
    grid-template-columns: 1fr 1fr;
}

.bike-grid-item {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 100px;
    /* border: 1px solid black; */
}

.bike-grid-item span {
    margin-left: 10px;
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
}

.bike-grid-item img {
    width: 500px;
    object-fit: contain;
    align-self: flex-start;
    cursor: pointer;
}

.bike-grid-item img:hover {
    width: 502px;
}

.accessories-container {
    margin: 0 auto;
    width: 80%;
    height: auto;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.accessory-grid-item {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 50px;
    align-self: flex-end;
    /* border: 1px solid black; */
}

.accessory-grid-item span {
    margin-left: 10px;
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif;
}

.accessory-grid-item img {
    width: 250px;
    object-fit: contain;
    align-self: center;
    cursor: pointer;
}

.accessory-grid-item img:hover {
   width: 252px;
}

.admin-container {
    margin: 0 auto;
    width: 80%;
    height: 500px;
    display: none;
}

.cart-container {
    margin: 0 auto;
    width: 80%;
    height: 500px;
    display: none;
}

.footer {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: #2a4f9a;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer span {
    padding-bottom: 5px;
}

.footer p {
    margin: 0;
    color: rgb(248, 248, 248);
    font-size: 0.8em;
    font-family: 'Nunito', sans-serif;
}